src/main/mule/train-details-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="train-details-sapi-main">
        <http:listener config-ref="train-details-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="correlationId and transactionId" doc:id="b54ddd6a-f0c8-4f2d-9673-3476d3563ecd" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers."correlation-id" default correlationId]]></ee:set-variable>
						<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers."transaction-id" default uuid()]]></ee:set-variable>
					</ee:variables>
		</ee:transform>
		<apikit:router config-ref="train-details-sapi-config" />
		<error-handler ref="global-error-handler" />
        
    </flow>
    <flow name="train-details-sapi-console">
        <http:listener config-ref="train-details-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="train-details-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\trains:application\json:train-details-sapi-config">
        <flow-ref doc:name="upsert-train-detailsFlow" doc:id="4246dc5a-a160-467a-908c-c9bbd637e3fc" name="upsert-train-detailsFlow"/>
		
    </flow>
    <flow name="delete:\trains\(trainId):train-details-sapi-config">
		<ee:transform doc:name="trainId">
            <ee:variables>
                <ee:set-variable variableName="trainId">attributes.uriParams.'trainId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="delete-train-detailsFlow" doc:id="2d7cf627-b06e-4a10-be14-8a84ea385d55" name="delete-train-detailsFlow"/>
		
    </flow>
    <flow name="get:\trains\(trainId):train-details-sapi-config">
		<ee:transform doc:name="trainId">
            <ee:variables>
                <ee:set-variable variableName="trainId">attributes.uriParams.'trainId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="fetch-train-detailsFlow" doc:id="2dbfc942-ec16-43cd-a5f2-6119fc5e7cf7" name="fetch-train-detailsFlow"/>
		
    </flow>
</mule>
